In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\OneDrive - NITT\Custom_Download\pol.csv')

In [4]:
df.dtypes

No         int64
year       int64
month      int64
day        int64
hour       int64
pm2.5    float64
DEWP       int64
TEMP     float64
PRES     float64
cbwd      object
Iws      float64
Is         int64
Ir         int64
dtype: object

In [6]:
df['cbwd'].unique()

array(['NW', 'cv', 'NE', 'SE'], dtype=object)

In [8]:
df.isna().sum()

No          0
year        0
month       0
day         0
hour        0
pm2.5    2067
DEWP        0
TEMP        0
PRES        0
cbwd        0
Iws         0
Is          0
Ir          0
dtype: int64

In [9]:
df.shape

(43824, 13)

In [11]:
2067*100/43824

4.716593647316539

In [13]:
df.dropna(inplace=True)

In [14]:
df.shape

(41757, 13)

In [ ]:
No,

In [17]:
df.drop(['No'],axis=1,inplace=True)

In [22]:
df.reset_index(drop=True,inplace=True)

In [24]:
import datetime

In [33]:
df['date'] = pd.to_datetime(df[['year','month','day','hour']])

In [38]:
df.drop(columns=['year','month','day','hour'],inplace=True)

In [46]:
df.index = df['date']

In [48]:
df.drop(columns=['date'],inplace=True)

In [50]:
list(df)

['pm2.5', 'DEWP', 'TEMP', 'PRES', 'cbwd', 'Iws', 'Is', 'Ir']

In [54]:
df = pd.get_dummies(df,dtype=float)

In [58]:
from sklearn.preprocessing import StandardScaler

In [59]:
scaler = StandardScaler()

In [60]:
scaler.fit_transform(df)

array([[ 0.3301143 , -1.22979123, -1.34714315, ..., -0.69059499,
         1.36578456, -0.52208706],
       [ 0.53652547, -1.16050789, -1.34714315, ..., -0.69059499,
         1.36578456, -0.52208706],
       [ 0.65602667, -0.88337455, -1.4292782 , ..., -0.69059499,
         1.36578456, -0.52208706],
       ...,
       [-0.96267141, -1.64549124, -1.26500809, ...,  1.44802672,
        -0.7321799 , -0.52208706],
       [-0.9843989 , -1.64549124, -1.34714315, ...,  1.44802672,
        -0.7321799 , -0.52208706],
       [-0.94094391, -1.57620791, -1.26500809, ...,  1.44802672,
        -0.7321799 , -0.52208706]])

In [62]:
list(df)

['pm2.5',
 'DEWP',
 'TEMP',
 'PRES',
 'Iws',
 'Is',
 'Ir',
 'cbwd_NE',
 'cbwd_NW',
 'cbwd_SE',
 'cbwd_cv']

In [63]:
cols = ['DEWP',
 'TEMP',
 'PRES',
 'Iws',
 'Is',
 'Ir',
 'cbwd_NE',
 'cbwd_NW',
 'cbwd_SE',
 'cbwd_cv']

In [64]:
df[cols]

,DEWP,TEMP,PRES,Iws,Is,Ir,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
date,,,,,,,,,,
2010-01-02 00:00:00,-16,-4.0,1020.0,1.79,0,0,0.0,0.0,1.0,0.0
2010-01-02 01:00:00,-15,-4.0,1020.0,2.68,0,0,0.0,0.0,1.0,0.0
2010-01-02 02:00:00,-11,-5.0,1021.0,3.57,0,0,0.0,0.0,1.0,0.0
2010-01-02 03:00:00,-7,-5.0,1022.0,5.36,1,0,0.0,0.0,1.0,0.0
2010-01-02 04:00:00,-7,-5.0,1022.0,6.25,2,0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2014-12-31 19:00:00,-23,-2.0,1034.0,231.97,0,0,0.0,1.0,0.0,0.0
2014-12-31 20:00:00,-22,-3.0,1034.0,237.78,0,0,0.0,1.0,0.0,0.0
2014-12-31 21:00:00,-22,-3.0,1034.0,242.70,0,0,0.0,1.0,0.0,0.0
2014-12-31 22:00:00,-22,-4.0,1034.0,246.72,0,0,0.0,1.0,0.0,0.0
2014-12-31 23:00:00,-21,-3.0,1034.0,249.85,0,0,0.0,1.0,0.0,0.0

In [66]:
X = scaler.fit_transform(df[cols])

In [67]:
y = df['pm2.5']

In [68]:
y

date
2010-01-02 00:00:00    129.0
2010-01-02 01:00:00    148.0
2010-01-02 02:00:00    159.0
2010-01-02 03:00:00    181.0
2010-01-02 04:00:00    138.0
                       ...
2014-12-31 19:00:00      8.0
2014-12-31 20:00:00     10.0
2014-12-31 21:00:00     10.0
2014-12-31 22:00:00      8.0
2014-12-31 23:00:00     12.0
Name: pm2.5, Length: 41757, dtype: float64